.layout {
  position: relative;

  .slide {
    background-color: var(--background-color);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--100dvh);
    z-index: 3;
    will-change: transform;
    transition: none;
  }

  .perspective {
    position: relative;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: var(--100dvh);
    background-color: light-dark(
      rgba(27, 25, 23, 0.5),
      rgba(252, 251, 248, 0.5)
    );
    opacity: 0;
    backdrop-filter: blur(25px);
  }
}
