.nav {
  --menu-gap: 1.2rem;
  --padding: 1.2rem;

  padding: 1.2rem var(--padding);
  display: flex;
  align-items: baseline;
  font-size: 1.4rem;
  line-height: 1;
  text-transform: uppercase;
  height: fit-content;
  height: 4rem;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99999;

  > * {
    flex-basis: calc(100% / 3);
  }

  .wrapper {
    display: inline-block;

    * {
      will-change: transform;
      transform: translate3d(0, 0, 0);
      backface-visibility: hidden;
    }
  }

  .logo {
    display: inline-block;

    &:hover {
      text-shadow: 0 0 0.5rem var(--text-color);
      color: transparent;
    }
  }

  .monogram {
    font-size: 1.8rem;
    position: relative;
  }

  .wordmark {
    display: none;
    width: fit-content;
  }

  .menu {
    display: flex;
    gap: var(--menu-gap);
    justify-content: center;
  }

  .menu__item {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -0.2rem;
      left: 0;
      right: auto;
      width: 0;
      height: 0.1rem;
      background-color: var(--text-color);
      transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
    }

    &:hover::after {
      width: 100%;
    }
  }

  .item--second {
    &::after {
      right: 0;
      left: auto;
    }
  }

  .active::after {
    width: 100%;
  }

  .clock {
    display: flex;
    justify-content: flex-end;
  }

  @media (min-width: 768px) {
    --menu-gap: 1.6rem;
    --padding: 1.6rem;

    .monogram {
      display: none;
    }

    .wordmark {
      display: block;
    }
  }
}
