.page-404 {
  height: var(--100dvh);
  display: flex;
  align-items: center;
  justify-content: center;

  .wrapper {
    /* overflow: hidden; */

    svg {
      overflow: visible;
      max-width: 50vw;
      max-height: 50vh;
    }
  }

  /* .monogram__icon {
    fill: var(--text-color);
  } */
}
