.info {
  --hero-padding: 5.6rem 0;
  --h2-margin: 1.6rem;
  --contact-order: 3;

  grid-column: 2 / -2;
  display: flex;
  flex-direction: column;

  .info__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero {
    padding: var(--hero-padding);
    font-family: var(--font-serif);
    font-size: clamp(2.8rem, 3.17vw, 3.17vw);
    font-weight: 300;

    sup {
      font-size: clamp(1.8rem, 2.4vw, 2.4vw);
    }
  }

  .sans {
    font-family: var(--font-sans) !important;
  }

  .divider {
    height: 1px;
    background-color: var(--text-color);
  }

  .body {
    padding: 1.2rem 0 5rem;
    display: flex;
    flex-direction: column;
    gap: 5.6rem;
    width: 100%;
    overflow: hidden;

    li,
    p,
    span {
      font-weight: 300;
    }

    .contact {
      order: var(--contact-order);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .mtl {
        display: flex;
        align-items: baseline;
        gap: 0.25em;
        justify-self: end;

        svg {
          fill: var(--text-color);
          width: clamp(1.4rem, 1vw, 2rem);
          height: clamp(1.4rem, 1vw, 2rem);
        }
      }

      p {
        max-width: calc(100% / 3 * 2);
      }

      .links {
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
        margin-bottom: 1em;

        a {
          position: relative;

          &:hover {
            text-shadow: 0 0 0.5rem var(--text-color);
            color: transparent;
          }

          &::after {
            content: "↗";
            position: absolute;
            opacity: 0;
            bottom: 0;
          }

          &:hover::after {
            opacity: 1;
            right: -2rem;
          }
        }
      }
    }

    h2 {
      margin-bottom: var(--h2-margin);
    }
  }

  @media (min-width: 768px) {
    --hero-padding: 6vw 0;
    --h2-margin: 2rem;
    --contact-order: 0;
    --100dvh: calc(var(--vh, 1dvh) * 100);

    height: var(--100dvh);
    overflow: hidden;
    justify-content: space-between;

    .hero {
      text-align: center;
    }

    .body {
      display: grid;
      grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
      gap: 0 var(--gap);
    }

    .contact {
      grid-column: 1 / span 6;
    }

    .services {
      grid-column: 7 / span 3;
    }

    .clients {
      grid-column: 10 / span 3;
    }

    .copyright {
      width: 100%;
      text-align: center;
      font-weight: 300;
    }
  }
}
