.work {
  --100dvh: calc(var(--vh, 1dvh) * 100);

  width: 100vw;
  height: var(--100dvh);
  grid-column: 1 / -1;
  position: relative;

  .work__container {
    position: relative;
    height: var(--100dvh);
    width: max-content;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    gap: clamp(0.8rem, 0.5vw, 0.5vw);
    padding: 0 0.8rem 1.6rem 0.8rem;
    will-change: transform;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    transition: transform 0.3s ease-out;
  }

  .work__container.dragging {
    transition-duration: 0s;

    .featured {
      transition-duration: 0s;
    }
  }

  .item {
    height: 12dvh;
    position: relative;
    display: flex;
    cursor: pointer;
    user-select: none;
    will-change: transform;
    transform: translateZ(0);
    backface-visibility: hidden;
    z-index: 999;

    img {
      height: 100%;
      object-fit: contain;
    }
  }

  .featured {
    position: fixed;
    bottom: calc(3.2rem + 12dvh);
    height: 100%;
    max-height: calc(var(--100dvh) - 8.8rem - 12dvh);
    left: 0.8rem;
    width: calc(100vw - 1.6rem);
    pointer-events: none;
    display: flex;
    align-items: end;
    will-change: transform;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    transition: transform 0.3s ease-out;
    overflow: hidden;

    img {
      height: 100%;
      max-width: 100%;
      object-fit: contain;
      object-position: center center;
    }
  }

  .cursor {
    position: fixed;
    bottom: 8px;
    left: 1.6rem;
    height: 12vh;
    width: 1px;
    z-index: 999;
  }

  .carousel {
    display: flex;
    gap: 0.8rem;
    height: calc((100% / 7) - 1rem - 4px);
    width: 100vw;
    overflow-x: scroll;
    overflow-y: hidden;
    transform: translateX(-1.6rem);
    padding: 0 1.6rem;
  }

  .ghost {
    pointer-events: none;
    overflow: hidden;

    @media (min-width: 768px) {
      pointer-events: auto;
      overflow: scroll;
    }
  }

  @media (min-width: 768px) {
    .work__container {
      padding: 0 1.6rem 1.6rem 1.6rem;
    }

    .featured {
      left: 1.6rem;
      width: calc(100vw - 3.2rem);

      img {
        object-position: bottom center;
      }
    }
  }
}

.scroll-container {
  position: fixed;
  left: 0;
  right: 0;
  will-change: transform;
}
