:root {
  view-transition-name: root;
}

html,
body {
  /* height: 100%; */
  overflow-x: hidden;
  font-family: var(--font-sans);
  font-weight: 400 !important;
  color: var(--text-color);
  background-color: var(--background-color);
  overscroll-behavior: none;
  text-rendering: optimizeLegibility;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

html {
  font-size: 62.5%;
}

body {
  font-size: clamp(1.6rem, 1.3vw, 2.5rem);
  line-height: 1;
  margin: 0;
  letter-spacing: -0.02em;
}

* {
  box-sizing: border-box;
}

*::selection {
  text-shadow: 0 0 0.5rem var(--text-color);
  color: transparent;
  background-color: transparent;
}
